<% provide :title, "Instructions" %>

<div class="container">
  <% if user_signed_in? %>
    <%= link_to "Change Password", edit_user_registration_path %>
  <% end %>
  <div class="row">
    <div class="col s12 m6">
      <p>
        <h6><u>Instructions</u></h6>
        <ul>
          <li>Do Not disclose your personal identity anywhere in the questionare .</li>
          <li>Answer with sincerity and an open, unbiased mind .</li>
          <li>Do not skip any questions .</li>
          <li>Place a mark on the Radio button that reflects your choice in the column</li>
        </ul>
      </p>

      <% if @subjects != nil %>
        <a href="/feed_form/index" class="btn waves-effect waves-light">
          <i class="material-icons right">send</i>Proceed
        </a>
      <% end %>
    </div>

    <div class="col s12 m6">
      <% if @subjects != nil %>
        <h5>Subjects in which user has not given feedback for the month of <b><%= get_month_from_no @current_month %></b></h5>
        <% @subjects.each do |subject| %>
          <%= subject.name %> <br>
        <% end %>
      <% else %>
        <h5>Feedback given in all subjects for month : <b><%= get_month_from_no @current_month %></b></h5>
      <% end %>

    </div>

  </div>
</div>
